ul.list {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 30vh;
}

.list li:hover {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

.list li, input, button {
  list-style-type: none;
  border: 1px solid white;
  padding: 10px;
  margin: 20px 10px;
  font-weight: bold;
  text-align: center;
}
