@import url("https://fonts.googleapis.com/css?family=Satisfy");
#todoApp {
  height: 50vh; }

.todo-form {
  text-align: center; }

.calculator {
  text-align: center; }

button {
  background-color: black;
  color: white; }

ul.list {
  padding: 0; }

.list li:hover {
  transform: scale(1.1);
  transition: all .2s ease-in-out; }

.list li, input, button {
  list-style-type: none;
  border: 1px solid white;
  padding: 10px;
  margin: 20px 0;
  font-weight: bold; }

body {
  padding: 50px;
  font-family: "Satisfy", cursive;
  background: linear-gradient(70deg, black, #4d4d4a);
  color: #f45c42;
  height: 100vh; }
